# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Production build artifact
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables (may contain secrets)
.env*
!.env.example

# Vercel deployment artifacts
.vercel

# TypeScript / Build cache
*.tsbuildinfo
.eslintcache

# IDEs and editors configuration
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Operating System files
.DS_Store
Thumbs.db
